{
  "credential": null,
  "description": "",
  "image": "registry.redhat.io/ansible-automation-platform-24/ee-supported-rhel8:latest",
  "name": "{{ ee_name }}",
  "natural_key": {
    "name": "{{ ee_name }}",
    "type": "execution_environment"
  },
  "organization": null,
  "pull": ""
}
